<form action ="/" method ="post">

<p><%= @a%></p>

  <div class="form-group">
    <label>Введите login</label>
    <input name ="login" type="text" class="form-control" placeholder="Введите login">
  </div>

  <div class="form-group">
    <label>Введите password</label>
    <input name ="password" type="password" class="form-control" placeholder="Введите password">
  </div>

<button type="submit" class="btn btn-primary">Отправить</button>

</form>